html, body {
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
  cursor: pointer;
}
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.app-content {
  width: 600px;
}
.logo {
  width: 150px; 
  height: auto; 
  margin: 40px auto; 
  display: block; 
  margin-bottom: 30px;
  margin-top: 15px;
}

